@model StudChoice.BLL.DTOs.SubjectDTO
@using StudChoice.BLL.DTOs

@{
    ViewData["Title"] = $"{Model.Name}";
}

<div class="bg-primary text-white text-center"><h4>@Model.Name</h4></div>

<div class="container d-flex flex-row justify-content-around">
    <div class="container d-flex flex-row">
        <div class="">
            <p>Факультет: @Model.FacultyName</p>
            <p>Кафедра: @Model.CathedraName</p>
            <p>Студентів: @Model.AssignedStudentsCount / @Model.MaxStudents</p>
            <p>Викладач: @Model.ProfessorFullName</p>
            <p>Опис: @Model.Description</p>
            @if (Model.AssignedStudentsCount < Model.MaxStudents)
            {
                @*<a asp-action="Choose" asp-all-route-data="@(new Dictionary<string, SubjectDTO> {  })"> (1 семестр)</a>*@
                @Html.ActionLink("Вибрати цей предмет предмет", "Choose", "Subject", new { subjectId = Model.Id });
            }
            else
            {
                <p>Нажаль всі місця вже зайняті! :(</p>
            }
        </div>
    </div>
</div>
