@model StudChoice.BLL.DTOs.UserDTO

@{
    ViewData["Title"] = "Home page";
}

<div class="bg-primary text-white text-center"><h4>Про себе</h4></div>

<div class="container d-flex flex-row justify-content-around">

    @if (Model != null)
    {
        <div class="container d-flex flex-row">
            <div class="">
                <p>FirstName</p>
                <p>LastName</p>
                <p>MiddleName</p>
                <p>Email</p>
                <p>FacultyName</p>
                <p>CathedraName</p>
                <p>Course</p>
                <p>Term</p>
                <p>Dv 1</p>
                <p>Dv 2</p>
                <p>Dvvs 1</p>
                <p>Dvvs 2</p>
            </div>

            <div class="">
                <p>@Model.FirstName</p>
                <p>@Model.LastName</p>
                <p>@Model.MiddleName</p>
                <p>@Model.Email</p>
                <p>@Model.FacultyName</p>
                <p>@Model.CathedraName</p>
                <p>@Model.Course</p>
                <p>@Model.Term</p>
                <p>@Model.Dv1IName</p>
                <p>@Model.Dv2IName</p>
                <p>@Model.Dvvs1Name</p>
                <p>@Model.Dvvs2Name</p>
            </div>

        </div>
    }
   

    <div>
        <a asp-controller="Subject" asp-action="Subjects" asp-all-route-data="@(new Dictionary<string, string> { {"subjectType", "ДВ" } })">Choose a DV</a>
        <a asp-controller="Subject" asp-action="Subjects" asp-all-route-data="@(new Dictionary<string, string> { {"subjectType", "ДВВС" } })">Choose a DVVS</a>
    </div>
</div>

