@model StudChoice.BLL.DTOs.UserDTO

@{
    ViewData["Title"] = "Home page";
}


<div class="container">

    @if (Model != null)
    {
        <div class="bg-primary text-white text-center"><h4>Про себе</h4></div>
        <div class="container d-flex flex-row justify-content-around">
            <div class="container d-flex flex-row">
                <div class="m-md-auto">
                    <p>FirstName</p>
                    <p>LastName</p>
                    <p>MiddleName</p>
                    <p>Email</p>
                    <p>FacultyName</p>
                    <p>CathedraName</p>
                    <p>Course</p>
                    <p>Term</p>
                    <p>Dv Semester-1</p>
                    <p>Dv Senester-2</p>
                    <p>Dvvs Semester-1</p>
                    <p>Dvvs Semester-2</p>
                </div>

                <div class="m-md-auto">
                    <p>@(Model.FirstName ?? "No information")</p>
                    <p>@(Model.LastName ?? "No information")</p>
                    <p>@(Model.MiddleName ?? "No information")</p>
                    <p>@(Model.Email ?? "No information")</p>
                    <p>@(Model.FacultyName ?? "No information")</p>
                    <p>@(Model.CathedraName ?? "No information")</p>
                    <p>@Model.Course</p>
                    <p>@Model.Term</p>

                    @if (Model.Dv1IName != null)
                    {
                        <p>@Model.Dv1IName</p>
                    }
                    else
                    {
                        <p>
                            <a asp-controller="Subject" asp-action="Subjects" asp-all-route-data="@(new Dictionary<string, string> { {"subjectType", "ДВ" }, {"term","First"} })">Choose a DV</a>
                        </p>
                    }

                    @if (Model.Dv2IName != null)
                    {
                        <p>@Model.Dv2IName</p>
                    }
                    else
                    {
                        <p>
                            <a asp-controller="Subject" asp-action="Subjects" asp-all-route-data="@(new Dictionary<string, string> { {"subjectType", "ДВ" }, {"term","Second"} })">Choose a DV</a>
                        </p>
                    }

                    @if (Model.Dvvs1Name != null)
                    {
                        <p>@Model.Dvvs1Name</p>
                    }
                    else
                    {
                        <p>
                            <a asp-controller="Subject" asp-action="Subjects" asp-all-route-data="@(new Dictionary<string, string> { {"subjectType", "ДВВС" }, {"term","First"} })">Choose a DVVS</a>
                        </p>
                    }

                    @if (Model.Dvvs2Name != null)
                    {
                        <p>@Model.Dvvs2Name</p>
                    }
                    else
                    {
                        <p>
                            <a asp-controller="Subject" asp-action="Subjects" asp-all-route-data="@(new Dictionary<string, string> { {"subjectType", "ДВВС" }, {"term","Second"} })">Choose a DVVS</a>
                        </p>
                    }

                </div>

            </div>
        </div>
    }
    else
    {
        <h1>Some text for unauthorized Users</h1>
    }
</div>
