@model StudChoice.BLL.DTOs.UserDTO

    <form method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="FirstName">Ім'я</label>
            <input asp-for="FirstName" class="form-control" required value="@Model.FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="LastName">Прізвище</label>
            <input asp-for="LastName" class="form-control" required value="@Model.LastName" />
        </div>
        <div class="form-group">
            <label asp-for="MiddleName">Прізвище</label>
            <input asp-for="MiddleName" class="form-control" required value="@Model.MiddleName" />
        </div>
        <div class="form-group">
            <label asp-for="UserName">Ідентифікатор</label>
            <input asp-for="UserName" class="form-control" required value="@Model.UserName" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" required value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="Role">Тип користувача</label>
            <select asp-for="Role" class="form-control" required>
                <option value="Admin">Адміністратор</option>
                <option value="User" selected>Cтудент</option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Зберегти</button>
            <a asp-action="Index" class="btn btn-danger">Скасувати</a>
        </div>
    </form>

